<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>description</key>
	<string>Support for the Teal programming language, a statically-typed dialect of Lua.</string>
	<key>name</key>
	<string>Teal</string>
	<key>uuid</key>
	<string>4EB54858-FAFB-4313-AE71-5B6C8FD3F3B8</string>
</dict>
</plist>
